<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{% block title %}{% endblock %} | Buoy</title>

    <!-- Bootstrap core CSS -->
    <link href="assets/css/bootstrap.css" rel="stylesheet">
    <!--external css-->
    <link href="assets/font-awesome/css/font-awesome.css" rel="stylesheet" />
        
    <!-- Custom styles for this template -->
    <link href="assets/css/style.css" rel="stylesheet">
    <link href="assets/css/style-responsive.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    {% block head_extra %}{% endblock %}
  </head>

  <body>

  <section id="container" >
      <!-- **********************************************************************************************************************************************************
      TOP BAR CONTENT & NOTIFICATIONS
      *********************************************************************************************************************************************************** -->
      <!--header start-->
      <header class="header black-bg">
              <div class="sidebar-toggle-box">
                  <div class="fa fa-bars tooltips" data-placement="right" data-original-title="Toggle Navigation"></div>
              </div>
            <!--logo start-->
            <a href="index.php" class="logo"><b>Buoy</b></a>
            <!--logo end-->
        </header>
      <!--header end-->
      
      <!-- **********************************************************************************************************************************************************
      MAIN SIDEBAR MENU
      *********************************************************************************************************************************************************** -->
      <!--sidebar start-->
      <aside>
          <div id="sidebar"  class="nav-collapse ">
              <!-- sidebar menu start-->
              <ul class="sidebar-menu" id="nav-accordion">
              
                  <li class="mt">
                      <a {% if active_page == "index" %}class="active"{% endif %} href="index.php">
                          <i class="fa fa-dashboard"></i>
                          <span>Dashboard</span>
                      </a>
                  </li>

                  <li>
                      <a {% if active_page == "query" %}class="active"{% endif %} href="userQuery.php">
                          <i class="fa fa-th"></i>
                          <span>Find readings</span>
                      </a>
                  </li>

                  <li>
                      <a {% if active_page == "aggregate" %}class="active"{% endif %} href="userAggregate.php">
                          <i class="fa fa-bar-chart-o"></i>
                          <span>Reports</span>
                      </a>
                  </li>

                  <li class="sub-menu">
                  <a href="javascript:;" {% if active_page == "list-buoy"
                      or active_page == 'list-buoydevice'
                      or active_page == 'list-device'
                      or active_page == 'list-reading'
                      or active_page == 'list-devicekind' %}class="active"{% endif %}>
                          <i class="fa fa-folder"></i>
                          <span>View data</span>
                      </a>
                      <ul class="sub">
                          <li {% if active_page == "list-buoy" %}class="active"{% endif %}><a href="listBuoy.php">Buoy</a></li>
                          <li {% if active_page == "list-buoydevice" %}class="active"{% endif %}><a  href="listBuoyDevice.php">Buoy Device</a></li>
                          <li {% if active_page == "list-device" %}class="active"{% endif %}><a href="listDevice.php">Device</a></li>
                          <li {% if active_page == "list-devicekind" %}class="active"{% endif %}><a href="listDeviceKind.php">Device Kind</a></li>
                          <li {% if active_page == "list-reading" %}class="active"{% endif %}><a href="listReading.php">Reading</a></li>
                      </ul>
                  </li>

                  <li class="sub-menu">
                  <a href="javascript:;" {% if active_page == 'new-buoy'
                      or active_page == 'new-buoydevice'
                      or active_page == 'new-device'
                      or active_page == 'new-reading'
                      or active_page == 'new-devicekind' %}class="active"{% endif %}>
                          <i class="fa fa-plus-circle"></i>
                          <span>Add data</span>
                      </a>
                      <ul class="sub">
                          <li {% if active_page == "new-buoy" %}class="active"{% endif %}><a href="newBuoy.php">Buoy</a></li>
                          <li {% if active_page == "new-buoydevice" %}class="active"{% endif %}><a  href="newBuoyDevice.php">Buoy Device</a></li>
                          <li {% if active_page == "new-device" %}class="active"{% endif %}><a href="newDevice.php">Device</a></li>
                          <li {% if active_page == "new-devicekind" %}class="active"{% endif %}><a href="newDeviceKind.php">Device Kind</a></li>
                          <li {% if active_page == "new-reading" %}class="active"{% endif %}><a href="newReading.php">Reading</a></li>
                      </ul>
                  </li>

                  <li class="sub-menu">
                  <a href="javascript:;" {% if active_page == 'edit-buoy'
                      or active_page == 'edit-buoydevice'
                      or active_page == 'edit-device'
                      or active_page == 'edit-reading'
                      or active_page == 'edit-devicekind' %}class="active"{% endif %}>
                          <i class="fa fa-pencil"></i>
                          <span>Edit data</span>
                      </a>
                      <ul class="sub">
                          <li {% if active_page == "edit-buoy" %}class="active"{% endif %}><a href="editBuoy.php">Buoy</a></li>
                          <li {% if active_page == "edit-buoydevice" %}class="active"{% endif %}><a  href="editBuoyDevice.php">Buoy Device</a></li>
                          <li {% if active_page == "edit-device" %}class="active"{% endif %}><a href="editDevice.php">Device</a></li>
                          <li {% if active_page == "edit-devicekind" %}class="active"{% endif %}><a href="editDeviceKind.php">Device Kind</a></li>
                          <li {% if active_page == "edit-reading" %}class="active"{% endif %}><a href="editReading.php">Reading</a></li>
                      </ul>
                  </li>

                  <li class="sub-menu">
                  <a href="javascript:;" {% if active_page == 'delete-buoy'
                      or active_page == 'delete-buoydevice'
                      or active_page == 'delete-device'
                      or active_page == 'delete-reading'
                      or active_page == 'delete-devicekind' %}class="active"{% endif %}>
                          <i class="fa fa-eraser"></i>
                          <span>Delete data</span>
                      </a>
                      <ul class="sub">
                          <li {% if active_page == "delete-buoy" %}class="active"{% endif %}><a href="deleteBuoy.php">Buoy</a></li>
                          <li {% if active_page == "delete-buoydevice" %}class="active"{% endif %}><a  href="deleteBuoyDevice.php">Buoy Device</a></li>
                          <li {% if active_page == "delete-device" %}class="active"{% endif %}><a href="deleteDevice.php">Device</a></li>
                          <li {% if active_page == "delete-devicekind" %}class="active"{% endif %}><a href="deleteDeviceKind.php">Device Kind</a></li>
                          <li {% if active_page == "delete-reading" %}class="active"{% endif %}><a href="deleteReading.php">Reading</a></li>
                      </ul>
                  </li>

              </ul>
              <!-- sidebar menu end-->
          </div>
      </aside>
      <!--sidebar end-->
      
      <!-- **********************************************************************************************************************************************************
      MAIN CONTENT
      *********************************************************************************************************************************************************** -->
      <!--main content start-->
      <section id="main-content">
        <section class="wrapper site-min-height">
        {% if err %}
        <div class="alert alert-danger mt">{{ err }}</div>
        {% endif %}
        {% block content %}
        {% endblock %}
		</section><! --/wrapper -->
      </section><!-- /MAIN CONTENT -->

      <!--main content end-->
      <!--footer start-->
      <footer class="site-footer">
          <div class="text-center">
              Made in Waco, TX
              <a href="#" class="go-top">
                  <i class="fa fa-angle-up"></i>
              </a>
          </div>
      </footer>
      <!--footer end-->
  </section>

    <!-- js placed at the end of the document so the pages load faster -->
    <script src="assets/js/jquery.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="assets/js/jquery-ui-1.9.2.custom.min.js"></script>
    <script src="assets/js/jquery.ui.touch-punch.min.js"></script>
    <script class="include" type="text/javascript" src="assets/js/jquery.dcjqaccordion.2.7.js"></script>
    <script src="assets/js/jquery.scrollTo.min.js"></script>
    <script src="assets/js/jquery.nicescroll.js" type="text/javascript"></script>


    <!--common script for all pages-->
    <script src="assets/js/common-scripts.js"></script>

  {% block body_extra %}{% endblock %}
  </body>
</html>
