<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{% block title %}{% endblock %}</title>

    <!-- Bootstrap core CSS -->
    <link href="assets/css/bootstrap.css" rel="stylesheet">
    <!--external css-->
    <link href="assets/font-awesome/css/font-awesome.css" rel="stylesheet" />
        
    <!-- Custom styles for this template -->
    <link href="assets/css/style.css" rel="stylesheet">
    <link href="assets/css/style-responsive.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    {% block head_extra %}{% endblock %}
  </head>

  <body>

  <section id="container" >
      <!-- **********************************************************************************************************************************************************
      TOP BAR CONTENT & NOTIFICATIONS
      *********************************************************************************************************************************************************** -->
      <!--header start-->
      <header class="header black-bg">
              <div class="sidebar-toggle-box">
                  <div class="fa fa-bars tooltips" data-placement="right" data-original-title="Toggle Navigation"></div>
              </div>
            <!--logo start-->
            <a href="index.php" class="logo"><b>Buoy</b></a>
            <!--logo end-->
        </header>
      <!--header end-->
      
      <!-- **********************************************************************************************************************************************************
      MAIN SIDEBAR MENU
      *********************************************************************************************************************************************************** -->
      <!--sidebar start-->
      <aside>
          <div id="sidebar"  class="nav-collapse ">
              <!-- sidebar menu start-->
              <ul class="sidebar-menu" id="nav-accordion">
              
                  <li class="mt">
                      <a {% if active_page == "index" %}class="active"{% endif %} href="index.php">
                          <i class="fa fa-dashboard"></i>
                          <span>Dashboard</span>
                      </a>
                  </li>

                  <li class="mt">
                      <a {% if active_page == "query" %}class="active"{% endif %} href="userQuery.php">
                          <i class="fa fa-th"></i>
                          <span>Find readings</span>
                      </a>
                  </li>

                  <li class="mt">
                      <a {% if active_page == "aggregate" %}class="active"{% endif %} href="userAggregate.php">
                          <i class="fa fa-bar-chart-o"></i>
                          <span>Reports</span>
                      </a>
                  </li>

                  <li class="sub-menu">
                  <a href="javascript:;" {% if active_page == "list-buoy"
                      or active_page == 'list-buoydevice'
                      or active_page == 'list-device'
                      or active_page == 'list-reading'
                      or active_page == 'list-devicekind' %}class="active"{% endif %}>
                          <i class="fa fa-folder"></i>
                          <span>View data</span>
                      </a>
                      <ul class="sub">
                          <li {% if active_page == "list-buoy" %}class="active"{% endif %}><a href="listBuoy.php">Buoy</a></li>
                          <li {% if active_page == "list-buoydevice" %}class="active"{% endif %}><a  href="listBuoyDevice.php">Buoy Device</a></li>
                          <li {% if active_page == "list-device" %}class="active"{% endif %}><a href="listDevice.php">Device</a></li>
                          <li {% if active_page == "list-devicekind" %}class="active"{% endif %}><a href="listDeviceKind.php">Device Kind</a></li>
                          <li {% if active_page == "list-reading" %}class="active"{% endif %}><a href="listReading.php">Reading</a></li>
                      </ul>
                  </li>



              </ul>
              <!-- sidebar menu end-->
          </div>
      </aside>
      <!--sidebar end-->
      
      <!-- **********************************************************************************************************************************************************
      MAIN CONTENT
      *********************************************************************************************************************************************************** -->
      <!--main content start-->
      <section id="main-content">
        <section class="wrapper site-min-height">
        {% block content %}
        {% endblock %}
		</section><! --/wrapper -->
      </section><!-- /MAIN CONTENT -->

      <!--main content end-->
      <!--footer start-->
      <footer class="site-footer">
          <div class="text-center">
              Made in Waco, TX
              <a href="#" class="go-top">
                  <i class="fa fa-angle-up"></i>
              </a>
          </div>
      </footer>
      <!--footer end-->
  </section>

    <!-- js placed at the end of the document so the pages load faster -->
    <script src="assets/js/jquery.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="assets/js/jquery-ui-1.9.2.custom.min.js"></script>
    <script src="assets/js/jquery.ui.touch-punch.min.js"></script>
    <script class="include" type="text/javascript" src="assets/js/jquery.dcjqaccordion.2.7.js"></script>
    <script src="assets/js/jquery.scrollTo.min.js"></script>
    <script src="assets/js/jquery.nicescroll.js" type="text/javascript"></script>


    <!--common script for all pages-->
    <script src="assets/js/common-scripts.js"></script>

  {% block body_extra %}{% endblock %}
  </body>
</html>
