{% extends 'base.html' %}
{% set active_page = 'edit-devicekind' %}

{% block title %}Edit device kind{% endblock %}

{% block content %}

<div class="form-panel">
<form action='' method='POST'> 
{% if edited == true %}
<h3>Row changed</h3>
<a href="listDeviceKind.php">Back to listing</a>
{% else %}
    {% if row != null %}
<p><b>Dimension0 Name:</b><br /><input type='text' class='form-control' name='dimension0_name' value='{{ row.dimension0_name }}' /> 
<p><b>Dimension1 Name:</b><br /><input type='text' class='form-control' name='dimension1_name' value='{{ row.dimension1_name }}' /> 
<p><b>Device Name:</b><br /><input type='text' class='form-control' name='device_name' value='{{ row.device_name }}' /> 
<p><input type='submit' class='btn btn-theme' value='Edit Row' /><input type='hidden' value='1' name='submitted' /> 
    {% else %}
<p><b>Dimension0 Name:</b><br /><input type='text' class='form-control' name='dimension0_name'  /> 
<p><b>Dimension1 Name:</b><br /><input type='text' class='form-control' name='dimension1_name'  /> 
<p><b>Device Name:</b><br /><input type='text' class='form-control' name='device_name'  /> 
<p><input type='submit' class='btn btn-theme' value='Edit Row' /><input type='hidden' value='1' name='submitted' /> 
    {% endif %}
{% endif %}
</form> 
</div>
{% endblock %}
