{% extends "base.html" %}
{% set active_page = "new-buoy" %}

{% block title %}Create a buoy{% endblock %}

{% block content %}
<div class="form-panel">
{% if created != true %}
<form action='' method='POST'> 
<p><b>Name:</b><br /><input class='form-control' type='text' name='name'/>
<p><b>Latitude:</b><br /><input class='form-control' type='text' name='latitude'/> 
<p><b>Longitude:</b><br /><input class='form-control' type='text' name='longitude'/> 
<p><b>Elevation:</b><br /><input class='form-control' type='text' name='elevation'/> 
<p><b>Depth:</b><br /><input class='form-control' type='text' name='depth'/> 
<p><input class='btn btn-theme' type='submit' value='Add Row' /><input type='hidden' value='1' name='submitted' /> 
</form> 
{% else %}
<p>Added row</p>
<p><a href="listBuoy.php">Back to listing</a></p>

{% endif %}
</div>
{% endblock %}
