{% extends "base.html" %}
{% set active_page = "new-reading" %}

{% block title %}Create a reading{% endblock %}

{% block content %}
<div class="form-panel">

<form action='' method='POST'> 
<p><b>Device Id:</b><br /><input class='form-control' type='text' name='device_id'/> 
<p><b>Time:</b><br /><input class='form-control' type='text' name='time'/> 
<p><b>Dimension0:</b><br /><input class='form-control' type='text' name='dimension0'/> 
<p><b>Dimension1:</b><br /><input class='form-control' type='text' name='dimension1'/> 
<p><input class='btn btn-theme' type='submit' value='Add Row' /><input type='hidden' value='1' name='submitted' /> 
</form> 
{% if created %}
<p>Added row</p>
<p><a href="listReading.php">Back to listing</a></p>

{% endif %}
</div>
{% endblock %}
